In [1]:
#pip install pandas-plink

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas-plink
  Downloading pandas_plink-2.2.9-cp39-cp39-manylinux2010_x86_64.whl (100 kB)
     |████████████████████████████████| 100 kB 2.4 MB/s ta 0:00:011
Requirement already satisfied: dask[array,dataframe]>=2.6.0 in /opt/conda/lib/python3.9/site-packages (from pandas-plink) (2021.6.2)
Collecting zstandard>=0.13.0
  Downloading zstandard-0.23.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (5.4 MB)
     |████████████████████████████████| 5.4 MB 29.3 MB/s eta 0:00:01     |███████████▎                    | 1.9 MB 29.3 MB/s eta 0:00:01
Requirement already satisfied: tqdm>=4.36.1 in /opt/conda/lib/python3.9/site-packages (from pandas-plink) (4.66.2)
Requirement already satisfied: pytest>=5.2.2 in /opt/conda/lib/python3.9/site-packages (from pandas-plink) (8.0.2)
Requirement already satisfied: pandas>=1.1.3 in /opt/conda/lib/python3.9/site-packages (from pandas-plink) (2.2.0)
Requirement already satisfied: numpy>=1.17.2 in /opt/conda/lib/python3.9/site-packages (from pandas-plink) (1.22.4)
Requirement already satisfied: cffi>=1.14.3 in /opt/conda/lib/python3.9/site-packages (from pandas-plink) (1.14.6)
Collecting Deprecated>=1.2.6
  Downloading Deprecated-1.2.14-py2.py3-none-any.whl (9.6 kB)
Collecting xarray>=0.18.2
  Downloading xarray-2024.7.0-py3-none-any.whl (1.2 MB)
     |████████████████████████████████| 1.2 MB 38.4 MB/s eta 0:00:01
Requirement already satisfied: pycparser in /opt/conda/lib/python3.9/site-packages (from cffi>=1.14.3->pandas-plink) (2.20)
Requirement already satisfied: pyyaml in /opt/conda/lib/python3.9/site-packages (from dask[array,dataframe]>=2.6.0->pandas-plink) (5.4.1)
Requirement already satisfied: fsspec>=0.6.0 in /opt/conda/lib/python3.9/site-packages (from dask[array,dataframe]>=2.6.0->pandas-plink) (2024.2.0)
Requirement already satisfied: partd>=0.3.10 in /opt/conda/lib/python3.9/site-packages (from dask[array,dataframe]>=2.6.0->pandas-plink) (1.2.0)
Requirement already satisfied: cloudpickle>=1.1.1 in /opt/conda/lib/python3.9/site-packages (from dask[array,dataframe]>=2.6.0->pandas-plink) (1.6.0)
Requirement already satisfied: toolz>=0.8.2 in /opt/conda/lib/python3.9/site-packages (from dask[array,dataframe]>=2.6.0->pandas-plink) (0.11.1)
Requirement already satisfied: wrapt<2,>=1.10 in /opt/conda/lib/python3.9/site-packages (from Deprecated>=1.2.6->pandas-plink) (1.16.0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.9/site-packages (from pandas>=1.1.3->pandas-plink) (2021.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.9/site-packages (from pandas>=1.1.3->pandas-plink) (2.8.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.9/site-packages (from pandas>=1.1.3->pandas-plink) (2024.1)
Requirement already satisfied: locket in /opt/conda/lib/python3.9/site-packages (from partd>=0.3.10->dask[array,dataframe]>=2.6.0->pandas-plink) (0.2.0)
Requirement already satisfied: tomli>=1.0.0 in /opt/conda/lib/python3.9/site-packages (from pytest>=5.2.2->pandas-plink) (2.0.1)
Requirement already satisfied: iniconfig in /opt/conda/lib/python3.9/site-packages (from pytest>=5.2.2->pandas-plink) (2.0.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc8 in /opt/conda/lib/python3.9/site-packages (from pytest>=5.2.2->pandas-plink) (1.2.0)
Requirement already satisfied: pluggy<2.0,>=1.3.0 in /opt/conda/lib/python3.9/site-packages (from pytest>=5.2.2->pandas-plink) (1.4.0)
Requirement already satisfied: packaging in /opt/conda/lib/python3.9/site-packages (from pytest>=5.2.2->pandas-plink) (23.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas>=1.1.3->pandas-plink) (1.16.0)
Collecting numpy>=1.17.2
  Downloading numpy-1.26.4-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (18.2 MB)
     |████████████████████████████████| 18.2 MB 72.9 MB/s eta 0:00:01     |██████████████████████████▏     | 15.0 MB 72.9 MB/s eta 0:00:01
Installing collected packages: numpy, zstandard, xarray, Deprecated, pandas-plink
  WARNING: The script f2py is installed in '/home/jhauk/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tensorflow 2.13.1 requires numpy<=1.24.3,>=1.22, but you have numpy 1.26.4 which is incompatible.
scipy 1.7.0 requires numpy<1.23.0,>=1.16.5, but you have numpy 1.26.4 which is incompatible.
Successfully installed Deprecated-1.2.14 numpy-1.26.4 pandas-plink-2.2.9 xarray-2024.7.0 zstandard-0.23.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas_plink as pdpl

/opt/conda/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [9]:
bim, fam, G = pdpl.read_plink("EUR.1.test/1000G.EUR.1")

Mapping files:   0%|          | 0/3 [00:00<?, ?it/s]/home/jhauk/.local/lib/python3.9/site-packages/pandas_plink/_read.py:338: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  df = read_csv(
Mapping files:  33%|███▎      | 1/3 [00:00<00:00,  6.09it/s]/home/jhauk/.local/lib/python3.9/site-packages/pandas_plink/_read.py:338: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  df = read_csv(
Mapping files: 100%|██████████| 3/3 [00:00<00:00, 13.46it/s]

In [17]:
bim

      chrom         snp          cm        pos a0 a1      i
0         1   rs3094315    0.488776     752566  G  A      0
1         1   rs3131972    0.488868     752721  A  G      1
2         1   rs3131969    0.489734     754182  A  G      2
3         1   rs1048488    0.492507     760912  C  T      3
4         1   rs3115850    0.492605     761147  T  C      4
...     ...         ...         ...        ... .. ..    ...
98637     1   rs4926502  293.389210  249209140  A  G  98637
98638     1   rs6704311  293.390550  249210707  A  G  98638
98639     1  rs34013644  293.391090  249211350  C  T  98639
98640     1  rs12746903  293.397000  249218992  C  T  98640
98641     1  rs12726733  293.397000  249222473  A  C  98641

[98642 rows x 7 columns]

In [18]:
fam

         fid      iid father mother gender trait    i
0    HG00096  HG00096      0      0      0    -9    0
1    HG00097  HG00097      0      0      0    -9    1
2    HG00099  HG00099      0      0      0    -9    2
3    HG00101  HG00101      0      0      0    -9    3
4    HG00102  HG00102      0      0      0    -9    4
..       ...      ...    ...    ...    ...   ...  ...
484  NA20822  NA20822      0      0      0    -9  484
485  NA20826  NA20826      0      0      0    -9  485
486  NA20827  NA20827      0      0      0    -9  486
487  NA20828  NA20828      0      0      0    -9  487
488  NA20832  NA20832      0      0      0    -9  488

[489 rows x 7 columns]

In [19]:
G

dask.array<transpose, shape=(98642, 489), dtype=float32, chunksize=(1024, 489), chunktype=numpy.ndarray>

In [21]:
import gzip
import pandas as pd

# Open the gzipped file
with gzip.open("gene_annot.txt.gz", "rt") as f:
    # Read the file content into a pandas DataFrame
    gene_annotations = pd.read_csv(f, sep="\t")

In [23]:
# Week 3

In [30]:
with open("my_coord", "w") as file:
  # Write some text to the file
  file.write("chr1\t252566\t1252566\tmygene\t0\+")

In [35]:
geno_df = pd.DataFrame(G.compute().transpose())
geno_df.columns = bim['snp']  # Use SNP IDs as columns
geno_df.index = fam['iid']  # Use individual IDs as rows

In [36]:
geno_df

snp,rs3094315,rs3131972,rs3131969,rs1048488,rs3115850,rs2286139,rs12562034,rs4040617,rs2980300,rs2519031,...,rs12043949,rs4417119,rs6587762,rs7527472,rs12025760,rs4926502,rs6704311,rs34013644,rs12746903,rs12726733
iid,,,,,,,,,,,,,,,,,,,,,
HG00096,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
HG00097,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
HG00099,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
HG00101,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0
HG00102,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NA20822,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
NA20826,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
NA20827,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
NA20828,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0,2.0
NA20832,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0

In [37]:
gene_expr = pd.read_csv('GD462.GeneQuantRPKM.50FN.samplename.resk10.txt.gz', compression='gzip', sep='\t')

In [38]:
gene_expr

,TargetID,Gene_Symbol,Chr,Coord,HG00096,HG00097,HG00099,HG00100,HG00101,HG00102,...,NA20810,NA20811,NA20812,NA20813,NA20814,NA20815,NA20816,NA20819,NA20826,NA20828
0,ENSG00000152931.6,ENSG00000152931.6,5,59783540,0.101858,0.078110,0.048981,0.118597,0.004035,0.010925,...,0.088601,0.240010,0.137175,0.148494,0.038643,0.088509,0.029204,0.024423,0.044816,0.139186
1,ENSG00000183696.9,ENSG00000183696.9,7,48128225,8.183805,5.686911,2.434653,3.830894,6.612288,4.709646,...,13.428205,6.094500,12.536000,2.217262,3.573394,7.583364,4.052882,1.570378,4.900372,6.737308
2,ENSG00000139269.2,ENSG00000139269.2,12,57846106,1.199910,1.573572,0.521616,1.447225,3.565791,1.982681,...,3.225880,1.996067,2.854923,2.267343,1.331201,2.187895,1.004250,3.003316,1.984362,1.684954
3,ENSG00000169129.8,ENSG00000169129.8,10,116164515,0.831940,0.069778,0.931086,0.620941,1.660668,0.570481,...,1.023381,1.127852,0.774409,1.495854,0.895342,1.513521,0.826377,1.021201,0.952502,0.740565
4,ENSG00000134602.11,ENSG00000134602.11,X,131157293,27.646422,24.395572,16.445374,24.806650,25.113349,19.233988,...,25.079490,28.725528,24.450520,27.264069,26.912814,29.509210,26.462331,25.624009,25.707741,22.824957
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23717,ENSG00000235472.1,ENSG00000235472.1,13,29172970,31.582832,34.071123,19.394365,37.523721,33.430473,37.844966,...,47.905182,33.224977,39.827675,27.096811,34.686342,37.386766,30.598840,33.516674,32.017940,38.341888
23718,ENSG00000114423.14,ENSG00000114423.14,3,105588396,14.054749,14.477899,11.584425,12.637956,12.015089,13.750655,...,11.723462,9.900372,10.473115,13.433413,15.832594,19.216176,10.213739,14.563192,15.637732,8.357117
23719,ENSG00000243312.2,ENSG00000243312.2,4,87791344,1.112114,0.831797,0.253228,0.271568,0.486086,1.362640,...,1.168991,0.645389,0.819469,0.515448,0.463054,1.580658,0.701396,0.771233,0.857330,0.703369
23720,ENSG00000257337.1,ENSG00000257337.1,12,53448222,3.826396,6.045798,2.593872,4.447169,5.294657,4.106823,...,6.524398,6.017795,3.460273,3.905032,5.023161,5.333027,5.694370,8.142939,5.622043,6.026476
23721,ENSG00000177494.5,ENSG00000177494.5,3,111314290,1.183398,0.892619,0.917497,3.504894,1.168247,3.110953,...,1.936493,1.177972,2.673129,13.892711,2.763749,3.032246,4.558199,2.807851,2.021329,3.181096

In [41]:
# Transpose gene expression data so that individual IDs are in the index
gene_expr_t = gene_expr.set_index('Gene_Symbol').transpose()

In [43]:
# The gene expression DataFrame now has individual IDs as rows and genes as columns
# Extract the individual IDs that match those in fam['iid']
gene_expr_t.index.name = 'iid'
matching_ids = gene_expr_t.index.intersection(fam['iid'])

In [44]:
# Filter both dataframes to only include these matching IDs
geno_df_filtered = geno_df.loc[matching_ids]
gene_expr_filtered = gene_expr_t.loc[matching_ids]

In [50]:
# Replace 'GeneX' with the actual gene symbol you're analyzing
gene_of_interest = 'ENSG00000152931.6'

# Filter the gene expression data for the gene of interest
gene_expr_filtered = gene_expr_t.loc[matching_ids, gene_of_interest]

# Merge the gene expression data with genotype data
merged_df = pd.concat([gene_expr_filtered, geno_df_filtered], axis=1)

# Rename the gene expression column for clarity
merged_df.rename(columns={gene_of_interest: 'gene_expression'}, inplace=True)

In [51]:
merged_df

,gene_expression,rs3094315,rs3131972,rs3131969,rs1048488,rs3115850,rs2286139,rs12562034,rs4040617,rs2980300,...,rs12043949,rs4417119,rs6587762,rs7527472,rs12025760,rs4926502,rs6704311,rs34013644,rs12746903,rs12726733
iid,,,,,,,,,,,,,,,,,,,,,
HG00096,0.101858,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
HG00097,0.07811,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
HG00099,0.048981,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
HG00101,0.004035,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,...,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0
HG00102,0.010925,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NA20814,0.038643,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
NA20815,0.088509,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
NA20819,0.024423,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
NA20826,0.044816,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
NA20828,0.139186,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0,2.0

In [ ]:
'''
import statsmodels.api as sm

# Ensure gene expression values are numeric
y = pd.to_numeric(merged_df['gene_expression'], errors='coerce')

# Iterate over each SNP column in the genotype data (independent variables)
results = {}
for snp in geno_df_filtered.columns:
    X = pd.to_numeric(merged_df[snp], errors='coerce')  # Convert SNP data to numeric
    X = sm.add_constant(X)  # Add an intercept for the linear regression
    
    # Drop rows with missing or invalid data (NaN)
    valid_data = pd.concat([y, X], axis=1).dropna()
    
    # Run the regression only if valid data exists
    if len(valid_data) > 0:
        model = sm.OLS(valid_data['gene_expression'], valid_data.iloc[:, 1:]).fit()  # Use .iloc to access predictors
        
        # Store the result for this SNP
        results[snp] = {
            'p-value': model.pvalues.iloc[1],  # Use .iloc to access the p-value for the SNP
            'beta': model.params.iloc[1],  # Use .iloc to access the beta coefficient for the SNP
            'r_squared': model.rsquared  # R-squared value
        }

# Convert results to a DataFrame for easier analysis
results_df = pd.DataFrame(results).transpose()

# Sort by p-value to find significant eQTLs
significant_eqtls = results_df.sort_values('p-value').head()
print(significant_eqtls)
'''

In [69]:
snps_in_window = bim[(bim['chrom'] == "1") & 
                         (bim['pos'] >= 252566) & 
                         (bim['pos'] <= 1252566)]

In [70]:
snps_in_window

    chrom         snp        cm      pos a0 a1    i
0       1   rs3094315  0.488776   752566  G  A    0
1       1   rs3131972  0.488868   752721  A  G    1
2       1   rs3131969  0.489734   754182  A  G    2
3       1   rs1048488  0.492507   760912  C  T    3
4       1   rs3115850  0.492605   761147  T  C    4
..    ...         ...       ...      ... .. ..  ...
156     1   rs1536168  1.252260  1241529  A  G  156
157     1   rs3737717  1.252797  1242084  G  A  157
158     1     rs12103  1.255337  1247494  T  C  158
159     1  rs12142199  1.255980  1249187  G  A  159
160     1  rs34054191  1.256651  1250957  A  G  160

[161 rows x 7 columns]

In [72]:
# Get the SNP IDs from the filtered SNPs
snp_ids = snps_in_window['snp'].values

# Filter the genotype DataFrame for the SNPs in the window
genotype_data_window = geno_df.loc[:, snp_ids]

In [73]:
genotype_data_window

snp,rs3094315,rs3131972,rs3131969,rs1048488,rs3115850,rs2286139,rs12562034,rs4040617,rs2980300,rs2519031,...,rs1739855,rs2477782,rs11586188,rs11260584,rs12410087,rs1536168,rs3737717,rs12103,rs12142199,rs34054191
iid,,,,,,,,,,,,,,,,,,,,,
HG00096,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,2.0,...,2.0,2.0,2.0,2.0,1.0,2.0,2.0,1.0,1.0,2.0
HG00097,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
HG00099,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
HG00101,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
HG00102,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NA20822,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
NA20826,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,1.0,1.0,2.0,1.0,2.0,2.0,2.0,1.0,1.0,2.0
NA20827,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,1.0,2.0,2.0,1.0,1.0,2.0
NA20828,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,2.0,...,2.0,2.0,2.0,2.0,1.0,2.0,2.0,1.0,1.0,2.0
NA20832,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0

In [74]:
# Filter both dataframes to only include these matching IDs
geno_df_filtered = genotype_data_window.loc[matching_ids]
gene_expr_filtered = gene_expr_t.loc[matching_ids]

In [75]:
# Replace 'GeneX' with the actual gene symbol you're analyzing
gene_of_interest = 'ENSG00000152931.6'

# Filter the gene expression data for the gene of interest
gene_expr_filtered = gene_expr_t.loc[matching_ids, gene_of_interest]

# Merge the gene expression data with genotype data
merged_df = pd.concat([gene_expr_filtered, geno_df_filtered], axis=1)

# Rename the gene expression column for clarity
merged_df.rename(columns={gene_of_interest: 'gene_expression'}, inplace=True)